@{
    ViewData["Title"] = "Home Page";
}

@section scripts{
<script type="text/javascript">
$(function()
{
        $.getJSON('http://localhost:5003/todoitems', (res) =>
        {
            if (res.length === 0) {
                return
            }
            
            var listHeaders = `
            <tr>
                <th>id</th>
                <th>description</th>
                <th>completion status</th>
            </tr>`
            $('#todo-list').append(listHeaders);
            
            $(res).each((i, item) => 
            {
                var listItem = `<tr>
                    <td>${item.id}</td>
                    <td>${item.name}</td>
                    <td>${item.is_complete}</td>
                </tr>`
                $('#todo-list').append(listItem);
            });
        });
});
</script>
}

<div class="text-center">
    <h2 class="display-4">Welcome to the GillyCreed Todo List</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Redirect to Test endpoint: <a href="/test">Click!</a></p>
    
    <hr/>
    
    <div class="todo-list-management-container">
        <div>
            <form action="/action_page.php">
                <p>Add a new Todo Item: </p>
                <textarea id="new-todo-list-item-text-area-1"
                          name="text area for accepting new todo list items"
                          rows="3"
                          cols="50"></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="todo-list-divider">
            <hr/>
        </div>
        <div>
            <table id="todo-list"/>
        </div>
    </div>
</div>
