@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the GillyCreed Todo List</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Redirect to Test endpoint: <a href="/test">Click!</a></p>
    
    <hr/>
    
    <h3>TODO List</h3>
    <ul>
        <li></li>
    </ul>
</div>
